[build]
  command = "npm run build:pages"
  publish = "docs"

[[redirects]]
  from = "/admin/index.html"
  to = "/admin/index.html"
  status = 200
  force = true
  conditions = {Role = ["admin"]}

[[redirects]]
  from = "/admin/index.html"
  to = "/"
  status = 302
  force = true

[[redirects]]
  from = "/admin/"
  to = "/admin/index.html"
  status = 200
  force = true
  conditions = {Role = ["admin"]}

[[redirects]]
  from = "/admin/"
  to = "/"
  status = 302
  force = true

[[redirects]]
  from = "/admin"
  to = "/admin/index.html"
  status = 200
  force = true
  conditions = {Role = ["admin"]}

[[redirects]]
  from = "/admin"
  to = "/"
  status = 302
  force = true

[[redirects]]
  from = "/admin/*"
  to = "/admin/index.html"
  status = 200
  force = true
  conditions = {Role = ["admin"]}

[[redirects]]
  from = "/admin/*"
  to = "/"
  status = 302
  force = true
